_scripts/inliner/build
development/*
development.w3x
devel/*
devel.w3x
!development/Scripts
development/Scripts/*
!development/Scripts/common.j
!development/Scripts/Blizzard.j
release/resource
release/sound
config.ini
development_slk.w3x
*.pyc
release.w3x
release_slk.w3x
release/map/resource/_unoptmized/MdxPather.exe
release/map/resource/_unoptmized/_unused/Death Knights and Derivatives/readme.html
release/map/resource/_unoptmized/__textures__.txt
.future/
node_modules/